<% method = @candidate.new_record? ? :post : :put %>
<% path = @candidate.new_record? ? main_app.employee_my_referrals_path : main_app.new_employee_my_referral_path(@candidate) %>

<%= form_for(@candidate, url: path, :html => {:id=>"form_referral", :class=>"mb-0 form-horizontal", :role => "form", :method => method, multipart: true}) do |f| %>

  <%#= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <%#= hidden_field_tag :referral_id, @referral.id if @referral.id -%>

  <div class="panel panel-default">
    <div class="panel-heading">
      Application Form
    </div>
    <div class="panel-body" style="height:auto;">

      <div id="referral_form_error">
        <%= @candidate.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">
        <div class ="row">
            <div class="col-xs-6">
              <%= theme_form_field(@candidate, :name) %>
            </div>

            <div class="col-xs-6">
              <%= theme_form_field(@candidate, :email) %>
            </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class = "margin_radio">
              <div class="col-xs-2">
                <strong>Fresher: </strong><%=f.radio_button :candidate_type, true, :checked => true, :id=>"fresher_id" %>&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-xs-2">
                <strong>Experienced: </strong><%=f.radio_button :candidate_type,false,:id=>"experiance_id" %>
              </div>
            </div>
          </div>
        </div>


          <div class="fresher_div">
            <div class="row">
              <div class="col-xs-6">
                <%= theme_form_field(@candidate, :course) %>
              </div>

              <div class="col-xs-6">
                <%= theme_form_field(@candidate, :subject) %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <%= theme_form_field(@candidate, :institution) %>
              </div>
              <div class="col-xs-6">
                <%= f.fields_for :my_referral do |c| %>
                <% options_list = Array[*Fresher::YEAR_OF_PASSING_LIST.collect {|v,i| [v,v] }].sort %>
                <%= theme_form_select_group(c, @candidate, :year_of_passing, options_list, label: "Year of Passing *", param_name: "year_of_passing", prompt: true) %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="experiance_div">
            <div class="row">
              <div class="col-xs-6">
               <%= theme_form_field(@candidate, :current_organization) %>
             </div>
             <div class="col-xs-6">
               <%= theme_form_field(@candidate, :current_designation) %>
             </div>
           </div>
         </div>

         <div class="row">
          <div class="col-xs-6">
            <%= theme_form_field(@candidate, :native_city) %>
          </div>
          <div class="col-xs-6">
            <%= theme_form_field(@candidate, :native_state) %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <%= theme_form_field(@candidate, :current_city) %>
          </div>
          <div class="col-xs-6">
            <%= theme_form_field(@candidate, :current_state) %>
          </div>
        </div>
       
        

        <div class="row">
          <div class="col-xs-6">
            <%= theme_form_field(@candidate, :communication_addr) %>
          </div>
          <div class="col-xs-6">
            <%= theme_form_field(@candidate, :skills) %>
          </div>
        </div>

         <div class="row" style="">
          <div class="col-xs-6">
            <%= theme_form_field(@candidate, :phone, html_options: {placeholder: '333-333-4444'}) %>
          </div>
          <div class="col-xs-6">
          <%= theme_form_field(@candidate, :resume, :required => (@candidate.new_record? ? true : false), html_options: {type: 'file'}) %>
        </div>
        </div>

      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= link_to "Cancel", path, class: "btn btn-default" %>
        <%= theme_form_button(@candidate, "Submit the Form") %>
      </div>
    </div>
  </div>
<% end %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
      $(".experiance_div").hide();

    $("#experiance_id").click(function(){
      $(".fresher_div").hide();
      $(".experiance_div").show();
    });

    $("#fresher_id").click(function(){
      $(".experiance_div").hide();
      $(".fresher_div").show();

    });
});
</script>
