<% method = @my_referral.new_record? ? :post : :put %>
<% path = @my_referral.new_record? ? main_app.employee_my_referrals_path : main_app.new_employee_my_referral_path(@my_referral) %>

<%= form_for(@my_referral, url: path, :html => {:id=>"form_referral", :class=>"mb-0 form-horizontal", :role => "form", :method => method, multipart: true}) do |f| %>

  <%#= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <%#= hidden_field_tag :referral_id, @referral.id if @referral.id -%>

  <div class="panel panel-default">
    <div class="panel-heading">
      Application Form
    </div>
    <div class="panel-body" style="height:auto;">

      <div id="referral_form_error">
        <%= @my_referral.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">
        <%= theme_form_field(@my_referral, :name) %>
        <%= theme_form_field(@my_referral, :email) %>
        <div class = "margin_radio">
          <strong>Fresher: </strong><%=f.radio_button :candidate_type, true, :checked => true, :id=>"fresher_id" %>&nbsp;&nbsp;&nbsp;
          <strong>Experianced: </strong><%=f.radio_button :candidate_type,false,:id=>"experiance_id" %>
        </div>

          <hr>
          <div class="fresher_div">
            <%= theme_form_field(@my_referral, :course) %>
            <%= theme_form_field(@my_referral, :subject) %>
            <%= theme_form_field(@my_referral, :institution) %>

            <%= f.fields_for :my_referral do |c| %>
              <% options_list = Array[*Fresher::YEAR_OF_PASSING_LIST.collect {|v,i| [v,v] }].sort %>
              <%= theme_form_select_group(c, @my_referral, :year_of_passing, options_list, label: "Year of Passing *", param_name: "year_of_passing", prompt: true) %>
            <% end %>
          </div>

          <div class="experiance_div">
           <%= theme_form_field(@my_referral, :current_organization) %>
           <%= theme_form_field(@my_referral, :current_designation) %>
          </div>

        <br>
        <%= theme_form_field(@my_referral, :phone, html_options: {placeholder: '333-333-4444'}) %>
        <%= theme_form_field(@my_referral, :current_city) %>
        <%= theme_form_field(@my_referral, :native_city) %>
        <%= theme_form_field(@my_referral, :current_state) %>
        <%= theme_form_field(@my_referral, :native_state) %>
        <%= theme_form_field(@my_referral, :skills) %>
       


        <%= theme_form_field(@my_referral, :resume, :required => (@my_referral.new_record? ? true : false), html_options: {type: 'file'}) %>
      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= link_to "Cancel", path, class: "btn btn-default", remote: true %>
        <%= theme_form_button(@my_referral, "Submit the Form") %>
      </div>
    </div>
  </div>
<% end %>



<script>
$(document).ready(function(){
      $(".experiance_div").hide();

    $("#experiance_id").click(function(){
      $(".fresher_div").hide();
      $(".experiance_div").show();
    });

    $("#fresher_id").click(function(){
      $(".experiance_div").hide();
      $(".fresher_div").show();

    });
});
</script>
